{% extends "admin/base.html" %}
{% load i18n %}

<!-- Marcar todos los inlines para que puedan ser borrados -->
{% block footer %}
<script type="text/javascript">
var $ = django.jQuery;
$(document).ready(function() {
    $('.tabular table th:contains({% trans "Delete?" %})').each(function(index) {
        var text = $(this).text();
        $(this).html('<input type="checkbox" class="selectall_checkbox">&nbsp; ' + text);
    });
    $('.selectall_checkbox').click(function(e) {
        $(e.target).closest('table').find(':checkbox').filter(function () { return /DELETE/.test(this.name); }).each(function () {
          this.checked = e.target.checked;
        });
    });
});
</script>
{% endblock footer %}
